html, body, a, div, input, button{
  font-family: arial,sans-serif;
}

h1{
  align-self:center;
}

.mainMenu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
select{
  border: 0;
  margin: 1rem;
  height: 2rem;
}

#notesSquare{
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: space-around;
}

.note{
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: black;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem white;
}

.inScale {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
